#container {
	overflow: hidden;
}

#content {
	background: url("/images/table.png");

	display: flex;
	flex-direction: column;

	justify-content: space-around;
	align-items: center;

	height: 100%;
}

#content > div {
	display: flex;
	align-items: center;
	height: 100%;
}

#songs {
	background-color: transparent;

	border-color: white;
	border-width: 0.1rem;

	padding: 0.5rem;
}

button {
	background-color: transparent;

	border-style: solid;
	border-color: white;

	padding: 0.5rem 1rem;

	border-width: 0.1rem;

	cursor: pointer;
}

#vinyl {
	margin-bottom: 4rem;
}
